extends ../layout
block vars
    - var userId = userId 
    - var isUser = isUser 
    - var isOwner = isOwner
block content 
    h1.title PROJECTS 
    div.flash-message.hidden
    if error 
        h2 No se ha podido recuperar el historial
    else if projects 
        ul.ul-list 
            table 
                thead 
                    th.th-th Name:
                    th.th-th Description:
                    th.th-th Start Date:
                    th.th-th End Date:
                tbody
                    each project in projects 
                        tr.tr-tr
                            td= project.name
                            td= project.description
                            td= project.start_date
                            td= project.end_date
                                a.join(
                                    data-project-id=`${project.id}`,
                                    data-project-name=`${project.name}`,
                                    data-user-id=`${userId}`,
                                    href="#"
                                ) JOIN